html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e384;
    background-image: url("https://cdn.pixabay.com/photo/2022/06/28/08/44/store-7289198_960_720.png");
    background-repeat: no-repeat;
    background-position: right;
}

.floor{
    position:absolute;
    bottom: 0;
    background-color:rgba(19, 19, 19, 0.59);
    width: 100%;
    position: absolute;
    left: 0;
    height: 16.5vh;
}

.character{
    height: 200px !important;
    width: 300px !important;
    background-image: url("https://freesvg.org/img/8-Bit-Character-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    position: absolute ;
    bottom: 10vh ;
    left: -90px;
    border: 1px solid red;
    animation: transformX 6s infinite;
}

.second{
    position: absolute !important;
    bottom: 10vh !important;
    left: -10px;
    border: 1px solid rgb(240, 3, 244);
}

.container{
    margin: 50px;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.first-shop{
    border: 1px solid rgb(250, 15, 242);
    height: 99%;
    width: 45vw;
    position: absolute;
    top: 0;
    right: 0;
}

.second-shop{
    border: 1px solid rgb(15, 250, 58);
    height: 99%;
    width: 45vw;
    position: absolute;
    top: 0;
    left: 0;
}
.start-btn{
    font-size: 20px;
    height: auto;
    margin: 10px;
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.start-btn:active {
    top: 2px;
}

.start-btn p {
    font-family: 'Common Pixel', sans-serif;
    width: 300px;
    height: 5vh;
    margin: 2em auto;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ede7b1;
    color: #f18701;
    box-shadow:   -7px 0 0 0 #0F203F,
                   7px 0 0 0 #0F203F,
                   0 -7px 0 0 #0F203F,
                   0 7px 0 0 #0F203F;
}

@keyframes transformX {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(60vw);
    }
}